/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

All Common styling
Developer:  Atikur Rahman
Author URI: https://atikrpi27.github.io/Portfolio/

+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

 :root {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background-color: #D8DBE1;
}


/*==============================================
                Navigation
===============================================*/

.navbar {
    height: 60px;
    padding: 0px 30px !important;
    background-color: #d8dbe1 !important;
}

.navbar-brand img,
.offcanvas-title img {
    height: 40px;
    width: 50px;
}

.offcanvas-header {
    display: flex;
    background: #d8dbe1c2;
}

.navbar .offcanvas-body .navbar-nav .nav-item {
    margin: 0px 20px;
}

.navbar .offcanvas-body .navbar-nav .nav-item {
    background-color: #d8dbe1;
    border-radius: 4px;
    border: none;
    box-shadow: 9px 9px 16px rgb(163, 177, 198, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.5);
    color: rgb(78, 78, 78);
}

.navbar .offcanvas-body .navbar-nav .nav-item:active:hover {
    box-shadow: inset 9px 9px 16px rgb(163, 177, 198, 0.6), inset -9px -9px 16px rgba(255, 255, 255, 0.5);
}

.navbar .offcanvas-body .navbar-nav .nav-item a:active {
    color: white;
}

.navbar .offcanvas-body .navbar-nav .nav-item a {
    padding: 6px 20px;
    text-decoration: none;
    font-weight: 600;
    color: #616161;
    font-size: 16px;
    font-family: "Poppins";
}

.navbar .offcanvas-body .navbar-nav .nav-item a:hover {
    color: white;
    background-color: #d8dbe17d;
}

.btn:hover {
    color: var(--bs-btn-hover-color);
    background-color: #c4c8ce !important;
}


/*---------------------
    Navbar Toggling
----------------------*/

.navbar-toggler {
    border: none;
    color: white !important;
}

.navbar-toggler.ThreeDot {
    width: 40px;
    margin-top: 2px;
}

.navbar-toggler svg {
    font-size: xx-large;
}

.navbar-toggler:focus {
    box-shadow: none;
}


/*==============================================
                / Navigation
===============================================*/

.header-banner {
    background-color: #383838;
    height: 75vh;
    width: 100%;
}

.banner-text {
    color: #FFFF;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro-img img {
    height: 320px;
    width: 100%;
    border-radius: 15px;
}

.intro-description p {
    text-align: justify;
}

.service-heading,
.work-process-heading,
.testimonials-heading,
.team-heading,
.pricing-process-heading {
    height: 110px;
    display: flex;
    align-items: center;
    background-color: #C1CCDB;
    color: #282C35;
}


/*==============================================
                Start Services
===============================================*/

#services .section-heading .section-title {
    font-size: 36px;
}

#services .services-item {
    float: left;
    transition: transform .3s;
    padding: 30px 20px;
    margin-bottom: 25px;
    background-color: #fff;
    height: 285px;
    box-shadow: 0 5px 9px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

#services .services-item:hover {
    background-color: #e0e0e2;
    cursor: pointer;
    transform: scale(1.03);
    box-shadow: 0 5px 9px 0px rgb(0 0 0 / 40%);
}

.services-item img {
    height: 55px;
    width: 65px;
}

#services .services-item img:hover {
    transition: 1.5s;
}

#services .services-item img:hover {
    transform: scale(1.3);
}

#services .services-item .item-title {
    margin: 20px 0 20px 0;
    font-size: 18px;
    font-weight: 500;
}

.services-item p {
    text-align: justify;
    word-break: break-all;
}


/*==============================================
               Pricing
===============================================*/

#pricing{
    height: auto;
    margin-bottom: 30px;
    /* background-color: #27a776; */
    /* z-index: 1; */
}

#pricing-process{
    height: 110px;
    position: sticky;
    top: 0px;
    z-index: 20;
}

.sub-nav ul{
    list-style: none;
    padding: 0px;
}

.sub-nav:first-child{
    padding-left: 0px;
}
.sub-nav ul li{
    float: left;
    padding: 0px 15px;
    border-right: 1px dotted black;
}

.sub-nav ul li a{
    font-family: Poppins, sans-serif;
    font-size: 14px;
    line-height: 26px;
    text-decoration: none;
    color: #000000;
}


.second-header{
    background-color: #d8dbe1;
    height: 110px;
    position: sticky;
    top: 110px;
    border-bottom: 1px solid white;
    z-index: 10;
}

.second-header-text{
    display: flex;
    align-items: center;
    color: #282C35;
}

.second-header-content p,
.description ul li,
.choose ul li{
    font-size: 14px;
}


/*----------------------------------------------
                Card Right
----------------------------------------------*/

#service_col_main {
    padding-bottom: 25px;
}

#service_col_one {
    background: #D8DBE1;
}

#service_col_one div.service_col_one_1 {
    width: 90%;
    margin-bottom: 15px;
}

#service_col_one div.service_col_one_1 input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
}


#service_col_one div.service_col_one_2 {
    height: 70vh;
    width: 90%;
    overflow: auto;
    border-right: 1px solid #fff;
}

#service_col_one div.service_col_one_2::-webkit-scrollbar {
    width: 5px;
}

#service_col_one div.service_col_one_2::-webkit-scrollbar-track {
    background: transparent;
    max-height: 100px;
    height: 100px;
}

#service_col_two {
    padding: 0;
    margin: 0;
    padding-right: 30px;
    /* overflow: scroll; */
    /* cursor: url('http://127.0.0.1:8000/final_front_assets/cursor.png'), auto; */
}

#service_col_two .list_item_info {
    overflow: hidden;
}

#service_col_two::-webkit-scrollbar {
    display: none;
}

#service_col_two .sct_heading {
    border-bottom: 1px solid #fff;
    background: #d8dbe1;
    z-index: 20;
    padding: 0 15px;
    width: 100%;
}

#img_replace {
    box-shadow: 3px 3px 6px #a2a3ab, -3px -3px 6px #ffffff;
    width: 100%;
    min-height: 150px;
    height: 150px;
    overflow: hidden;
    padding: 0;
}

.service_two_fixed .sct_heading {
    padding: 110px 15px 15px !important;
    margin-top: -90px !important;
    width: 65% !important;
}

#service_col_two .sct_content {
    padding: 10px 5px;
}

#service_col_two .sct_content p {
    font-size: 14px;
}


#service_col_three {
    margin-top: -190px;
    z-index: 22;
    /* position: fixed; */
}

#service_col_three div.service_col_three_main {
    border: 1px solid #fff;
    background: #D8DBE1;
    padding-right: 12px;
    padding-bottom: 15px;
}

#service_col_three div.service_col_three_main .col {
    text-align: center;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: inset 3px 3px 6px #a2a3ab, inset -3px -3px 6px #ffffff;
}

#service_col_three div.service_col_three_main #card_badge .col:hover {
    box-shadow: 3px 3px 6px #a2a3ab, -3px -3px 6px #ffffff;
}

#service_col_three div.service_col_three_main #card_badge .col.active {
    box-shadow: none;
    background: #B6FAC5;
}

#service_col_three div.service_col_three_main #card_badge_price .col span.active {
    opacity: 25%;
}

#service_col_three div.service_col_three_main #card_info .card_info_heading {
    font-weight: 600;
    text-align: right;
}

#ser_pack_price {
    padding: 10px 12px;
    text-align: left;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 3px 3px 6px #a8a9ad, -3px -3px 6px #cecaca;
    background: #0FAC04;
    color: #fff;
    font-weight: 600;
}

#ser_pack_title {
    display: flex;
    justify-content: end;
    align-items: center;
}

.contact_group {
    margin-top: 25px !important;
}

.contact_group div.col {
    padding: 0 !important;
    margin: 0 !important;
    box-shadow: none !important;
}

.contact_group div:first-child .btn {
    cursor: pointer;
    padding: 5px 5px;
    width: 90%;
    background: #0FAC04;
    border: 1px solid #fff;
    color: #fff;
}

.contact_group div:last-child .btn {
    cursor: pointer;
    padding: 5px 5px;
    background: #0FAC04;
    border: 1px solid #fff;
    color: #fff;
}

.btn_right_shadow {
    box-shadow: 4px 0.5px 8px 3px #c6c6c6 !important;
}

.btn_left_shadow {
    box-shadow: -13px 2.5px 12px 3px #c6c6c6 !important;
}

.btn_right_border {
    border: none;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.btn_left_border {
    border: none;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.r-card{
    z-index: 20;
}

.my-3{
    box-shadow: 3px 3px 6px #a2a3ab, -3px -3px 6px #ffffff;
}

.myPackages{
    border: 1px solid #B6FAC5;border-radius: 10px;
}

.myPackages h4{
    font-size: 17px;
}

.package-heading{
    box-shadow: inset 3px 3px 6px #a2a3ab, inset -3px -3px 6px #ffffff;
}

.myPackages-details{
    box-shadow: none;
    padding:10px;
    border: 1px solid #fff;
    margin-bottom: 15px;
    font-size: 14px;
}

.delivery{
    padding: 25px 10px;
    margin: 2px 0 0 0;
    box-shadow:  3px 3px 6px #a2a3ab, -3px -3px 6px #ffffff;
    padding:10px;
}

.delivery-text{
    text-align: center;
    border: 1px solid #fff;
}

.delivery-line{
    box-shadow: inset 3px 3px 6px #a2a3ab, inset -3px -3px 6px #ffffff;
    padding:10px;
}

.delivery-line ul{
    list-style: none;
    margin:0;
    padding:0;
}


/*==============================================
               Working process
===============================================*/

.work-process-text,
.team-text {
    font-family: "Poppins", Sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.06px;
}

.wp-img {
    display: flex;
    justify-content: center;
}

.working-process-contents-right img {
    height: 400px;
    width: 100%;
}


/*==============================================
               Testimonials Section
===============================================*/

.testimonials {
    margin-top: 80px;
}

.testimonials .testimonial-item {
    box-sizing: content-box;
    padding: 30px;
    margin: 40px 30px;
    background: rgb(133 133 133);
    min-height: 320px;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: 0.3s;
}

.testimonials .testimonial-item .stars {
    margin-bottom: 15px;
}

.testimonials .testimonial-item .stars i {
    color: #ffc107;
    margin: 0 1px;
}

.testimonials .testimonial-item .testimonial-img {
    width: 90px;
    border-radius: 50%;
    border: 5px solid #474a4d;
    margin: 0 auto;
}

.testimonials .testimonial-item h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: #fff;
}

.testimonials .testimonial-item h4 {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    margin: 0;
}

.testimonials .testimonial-item p {
    font-style: italic;
    margin: 0 auto 15px auto;
}

.testimonials .swiper-pagination {
    margin-top: 20px;
    position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: rgba(255, 255, 255, 0.2);
    opacity: 1;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
    background-color: rgba(255, 255, 255, 0.5);
}

.testimonials .swiper-slide {
    opacity: 0.3;
}


/*------- Scroll top button ------*/

.scroll-top {
    position: fixed;
    visibility: hidden;
    opacity: 1;
    right: 15px;
    bottom: -15px;
    z-index: 99999;
    background: rgba(122, 121, 121, 0.8);
    width: 44px;
    height: 44px;
    border-radius: 50px;
    transition: all 0.4s;
}

.scroll-top i {
    font-size: 24px;
    color: rgb(255, 255, 255);
    line-height: 0;
}

.scroll-top:hover {
    background: #27a776;
    color: rgb(255, 255, 255);
}

.scroll-top.active {
    visibility: visible;
    opacity: 1;
    bottom: 15px;
}


/*==============================================
                About Page
===============================================*/


/*----Values Section-----*/

.about-left {
    color: #000000;
    font-family: "Poppins", Sans-serif;
}

.about-left p:first-child {
    color: #27a776;
}

.about-right img {
    width: 100%;
}

.about-button a {
    text-decoration: none;
    margin-left: 10px;
}

.about-button a:hover {
    color: #ebebeb
}

.learn-more,
.getQuote {
    font-size: 15px;
    font-family: Arial;
    width: 140px;
    height: 50px;
    padding: 10px;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
    border-color: rgba(7, 255, 203, 1);
    font-weight: bold;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0px 10px 14px -7px rgba(0, 168, 112, 1);
    text-shadow: 0px 1px 0px rgba(91, 138, 60, 0.87);
    background: linear-gradient(rgba(80, 227, 194, 1), rgba(80, 227, 194, 1));
}

.learn-more:hover {
    background: linear-gradient(rgb(53, 226, 189), rgb(17, 170, 137));
}

.getQuote:hover {
    background: linear-gradient(rgb(53, 226, 189), rgb(17, 170, 137));
}

.values-img {
    width: 100%;
    height: 80%;
}

.values-text {
    font-family: "Poppins", Sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.06px;
}


/*==============================================
                Team Section-
===============================================*/

.team .team-member .member-img {
    border-radius: 8px;
    overflow: hidden;
}

.team .team-member .member-img img {
    transition: transform 1.5s;
}

.team .team-member .member-img img:hover {
    transform: scale(1.1);
}

.team .team-member .social {
    position: absolute;
    left: 0;
    top: -18px;
    right: 0;
    opacity: 0;
    transition: ease-in-out 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team .team-member .social a {
    transition: color 0.3s;
    color: #FFFF;
    background: #0ea2bd;
    margin: 0 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    transition: 0.3s;
}

.team .team-member .social a i {
    line-height: 0;
    font-size: 16px;
}

.team .team-member .social a:hover {
    background: #1ec3e0;
}

.team .team-member .social i {
    font-size: 18px;
    margin: 0 2px;
}

.team .team-member .member-info {
    padding: 30px 15px;
    text-align: center;
    background: #FFFF;
    margin: -50px 20px 0 20px;
    position: relative;
    border-radius: 8px;
}

.team .team-member .member-info:hover {
    box-shadow: 0 0 15px -5px;
}

.team .team-member .member-info h4 {
    font-weight: 400;
    margin-bottom: 5px;
    font-size: 24px;
    color: #485664;
}

.team .team-member .member-info span {
    display: block;
    font-size: 16px;
    font-weight: 400;
    color: #6c757d;
}

.team .team-member .member-info p {
    font-style: italic;
    font-size: 14px;
    line-height: 26px;
    color: #6c757d;
}

.team .team-member:hover .social {
    opacity: 1;
}


/*--------------------------------------------------------------
                           # Footer
--------------------------------------------------------------*/

.footer {
    margin-top: 30px;
    padding: 30px 0;
    font-size: 17px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    background: #aeb3be;
}

.footer .copyright {
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
}

.footer .credits {
    padding-top: 6px;
    text-align: center;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.8);
}

.footer .credits a {
    color: var(--color-primary);
    font-weight: bold;
}

.footer .credits a:hover {
    color: white !important;
}


/*--------------------------------------------------------------
                        Media Query
--------------------------------------------------------------*/

@media (max-width: 1199px) {
    .testimonials .swiper-slide-active {
        opacity: 1;
    }
    .testimonials .swiper-pagination {
        margin-top: 0;
    }
    .testimonials .testimonial-item {
        margin: 40px 20px;
    }
}

@media (min-width: 1200px) {
    .testimonials .swiper-slide-next {
        opacity: 1;
        transform: scale(1.12);
    }
}

@media only screen and (max-width: 425px) {
    .intro-img img {
        height: 250px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 576px) {
    .container {
        padding: 0 10%;
    }
    .about-button a {
        margin-left: 4px;
    }
    .working-process-contents-right {
        display: none;
    }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
    .intro-img img {
        height: 400px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .intro-img img {
        height: 360px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


/* ----------------------------------------------------
              Responsive navigation
------------------------------------------------------*/

@media (max-width: 992px) {
    .navbar .offcanvas-body .navbar-nav .nav-item {
        margin: 5px 5px;
    }
    .navbar .offcanvas-body .navbar-nav .nav-item a {
        padding: 10px 20px;
    }
    .navbar .offcanvas-body {
        padding: 10px 4px;
        background: #d8dbe1a6;
    }
}

@media (min-width: 992px) {
    .offcanvas {
        visibility: visible;
        position: relative;
        background: none;
        border: none;
        justify-content: end;
        color: #d8dbe1;
    }
}

@media (max-width: 992px) {
    .offcanvas {
        width: 250px !important;
    }
    .offcanvas-start-lg {
        top: 0;
        left: 0;
        border-right: 1px solid rgba(0, 0, 0, 0.2);
        transform: translateX(-100%);
    }
}